.chat-main
  .chat-main__group-info
    .chat-main__group-info__box
      .chat-main__group-info__box__group-name test
      .chat-main__group-info__box__member-name Member : naoki
    .chat-main__group-info__btn
      = link_to "#", class: "" do
        Edit
  
  
  .chat-main__message-list
    .chat-main__message-list__box
      .chat-main__message-list__box__name
        naoki 
      .chat-main__message-list__box__date
        2019/11/20(Wed) 17:43:01
    .chat-main__message-list__text
      おはよう！


  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box__image
        = f.label :image, class: 'input-box__image__file' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
  

